.card_container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 20rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 1.2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.video_box {
  min-height: 10rem;
  width: 100%;
}
.video_box > video {
  height: 100%;
  width: 100%;
  border-radius: 1.1rem;
}
