.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profile_pic {
  height: 4rem;
  width: 4rem;
  margin-right: 4px;
}
.allItems_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 5px;
}
main {
  min-height: 90vh;
  height: 100%;
  background-color: #faf7fe;
}
.search_container {
  background-color: #faf7fe;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 40rem;
  border-radius: 1.5rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.text_inp {
  height: 2rem;
  /* width: 100%; */
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  background-color: #ffffff;
  padding-right: 40px;
  color: black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.text_inp ::placeholder,
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.num_inp {
  height: 0.8rem;
  width: 10%;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  background-color: #ffffff;
  padding-right: 40px;
  color: black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media (max-width: 820px) {
  .profile_pic {
    height: 3.5rem;
    width: 3.5rem;
  }
  .logo {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 4px;
  }
  .header {
    height: 4.5rem;
  }
  .search_container {
    height: 70%;
    width: 38rem;
  }
}
@media (max-width: 750px) {
  .profile_pic {
    height: 3rem;
    width: 3rem;
  }
  .logo {
    height: 4rem;
    width: 4rem;
  }
  .header {
    height: 4.2rem;
  }
  .search_container {
    height: 65%;
    width: 34rem;
  }
}
@media (max-width: 630px) {
  .profile_pic {
    height: 2.5rem;
    width: 2.5rem;
  }
  .logo {
    height: 3rem;
    width: 3rem;
  }
  .header {
    height: 4rem;
  }
  .search_container {
    height: 60%;
    width: 32rem;
  }
  .num_inp {
    height: 0.4rem;
    width: 8%;
  }
  .text_inp {
    height: 1.8rem;
    width: 35%;
  }
}
@media (max-width: 440px) {
  .profile_pic {
    height: 2.2rem;
    width: 2.2rem;
  }
  .logo {
    height: 2.8rem;
    width: 2.8rem;
  }
  .header {
    height: 5rem;
    padding-bottom: 6rem;
  }
  .search_container {
    height: 10rem;
    width: 15rem;
    margin-top: 6.2rem;
    justify-content: center;
    position: relative;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  .text_inp {
    width: 90%;
  }
  .num_inp {
    width: 60%;
  }
}
